# Environments
venv/
env/
.venv/

# Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data & Models (Do not commit large binary artifacts)
data/
models/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/