# Environments
venv/
env/
.venv/

# Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Ignore the data and models folder content
data/
models/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/